@import "tailwindcss";


.mobile-schedule-item {
    @apply border-b border-gray-200 py-4;
  }
  
  .mobile-schedule-item:last-child {
    @apply border-b-0;
  }
  
  .mobile-schedule-header {
    @apply flex justify-between items-center cursor-pointer;
  }
  
  .mobile-schedule-content {
    @apply mt-2 text-sm text-gray-600;
  }
  
  /* Swiper styles */
  .testimonials-swiper {
    padding: 20px 0 40px;
  }

  .testimonials-swiper .swiper-button-next,
  .testimonials-swiper .swiper-button-prev {
    color: #4F46E5;
  }

  .testimonials-swiper .swiper-pagination-bullet {
    background: #4F46E5;
  }

  .testimonials-swiper .swiper-pagination-bullet-active {
    background: #4338CA;
  }
  /* below are styles for the v1 page */
 
  @keyframes scrollSponsors {
    0% {
      transform: translateX(100%); /* Start from the right */
    }
    100% {
      transform: translateX(-100%); /* Move to the left */
    }
  }
  
  .animate-scroll-sponsors {
    animation: scrollSponsors 30s linear infinite; /* Adjust 30s for speed */
  }
  